<br>
<br>

<form #status="ngForm" class="form-class" [formGroup]="statusForm" (submit)="submit()">
    <mat-form-field class="form-field" appearance="outline">
        <mat-label> State </mat-label>
        <input matInput formControlName="state" required>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
        <mat-label> Start Date </mat-label>
        <input matInput formControlName="startDate" [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
        <mat-label> End Date </mat-label>
        <input matInput formControlName="endDate" [matDatepicker]="picker1">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="status.form.invalid" type="submit">Search</button>
</form>

<br>
<br>
<mat-form-field *ngIf="isClicked && datasource.data.length >0">
    <input #filterval matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filter by state">
</mat-form-field>
<br>
<br>
<table mat-table [dataSource]="datasource" class="mat-elevation-z8" *ngIf="isClicked && datasource.data.length >0">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>
    <ng-container matColumnDef="positive">
      <th mat-header-cell *matHeaderCellDef> Positive cases </th>
      <td mat-cell *matCellDef="let element"> {{element.positive}} <span id="posIncrease">(+{{element.positiveIncrease}})</span></td>
    </ng-container>
    <ng-container matColumnDef="negative">
      <th mat-header-cell *matHeaderCellDef> Negative cases </th>
      <td mat-cell *matCellDef="let element"> {{element.negative}} <span id="negIncrease">(+{{element.negativeIncrease}})</span></td>
    </ng-container>
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let element"> {{element.state}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br>
<br>

<mat-card class="statusNotFound" *ngIf="isClicked && datasource.data?.length == 0">
    <mat-card-content>Status not found</mat-card-content>
</mat-card>